HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.db

### Ansible ###
ansible/roles/*
!ansible/roles/app_deploy
!ansible/roles/app_deploy/**
!ansible/roles/postgresql
!ansible/roles/postgresql/**
!ansible/roles/server_provision
!ansible/roles/server_provision/**
!ansible/roles/minio
!ansible/roles/minio/**
!ansible/roles/database_migrations
!ansible/roles/database_migrations/**
ansible/collections/
ansible/inventory.ini
ansible/inventory.generated.ini
ansible/.vault-password
ansible/.generated/
