{% set target_groups = vault_deploy_targets | map(attribute='group') | unique | list %}
{% for target_group in target_groups %}
[{{ target_group }}]
{% for target in vault_deploy_targets | selectattr('group', 'equalto', target_group) %}
{{ target.name }} ansible_host={{ target.address }}
{% endfor %}
{% endfor %}

[managed:children]
{% for target_group in target_groups %}
{{ target_group }}
{% endfor %}

[managed:vars]
provision_user={{ vault_provision_user }}
deploy_user={{ vault_deploy_user }}
deploy_authorized_key={{ vault_deploy_authorized_key | to_json }}
