[defaults]
inventory = inventory.generated.ini
roles_path = roles
vault_password_file = .vault-password

[ssh_connection]
ssh_args = -o UserKnownHostsFile=ansible/.generated/known_hosts -o StrictHostKeyChecking=yes
